<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>Календарь мероприятий</title>
  <link rel="stylesheet" href="frontend/css/bootstrap.min.css">
  <link rel="stylesheet" href="frontend/css/style.css">
  <script src="frontend/js/bootstrap.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
  <script type="text/javascript" src="https://cdn.jsdelivr.net/jquery/latest/jquery.min.js"></script>
  <script type="text/javascript" src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
  <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script>
  <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css" />
  <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
  <!--script src="https://cdn.jsdelivr.net/npm/vue@2"></script>-->
</head>
<body>
  <div class="container my-4" id="app">
    <div class="my-3 mx-2 gx-2 row d-flex align-items-center justify-content-between">
      <h2 class="col-auto">Календарь мероприятий</h2>
      <a v-if="role !== undefined" class="col-auto header-btn" href="/logout">Выйти из аккаунта</a>
      <a v-else class="col-auto header-btn" href="/login">Войти в аккаунт</a>
    </div>
    <div class="mb-3">
      <div class="overlay" v-if="loading">
        <div class="loading-card p-4 d-flex flex-column justify-content-between align-items-center">
          <div class="spinner-border text-primary"></div>
          <div class="pt-3">Загрузка</div>
        </div>
      </div>

      <div class="d-flex justify-content-center" v-if="!loading" id="content">
        <div class="card card-invisible"></div>
        <div class="main-container d-flex flex-column">
          <calendar :select="selectDay" @step="step" :year="year" :month="month"
            :days="filteredDays" :constants="constants" :admin="isAdmin" :client="isClient"
          ></calendar>
          <exam-list
            :enroll="enroll" :admin="isAdmin" :client="isClient"
            :day="activeDay" :exams="activeExams" :open-participants="openParticipants"
            :prepare-for-deletion="prepareForDeletion"
            :month="month" :constants="constants"
          ></exam-list>
        </div>
        <div class="side-container">
          <filters
            @select-type="selectType" @select-subject="selectSubject"
            :constants="constants" :selected-type-id="selectedTypeId" :selected-subjects="selectedSubjects"
          ></filters>
        </div>
      </div>

      <participants-modal v-if="isAdmin && !loading"
        @save="saveParticipants"
        :exam="participantsExam" :constants="constants"
      ></participants-modal>
      <confirmation-modal v-if="isAdmin && !loading"
        mid="deleteExamModal" title="Вы уверены, что хотите удалить экзамен?"
        btn-class="btn-danger" btn-text="Удалить" @confirmed="deleteExam"
      ></confirmation-modal>
      <confirmation-modal v-if="isClient && !loading"
        mid="deleteExamModal" title="Вы уверены, что хотите выписаться с экзамена?"
        btn-class="btn-danger" btn-text="Выписаться" @confirmed="deleteExam"
      ></confirmation-modal>
      <new-exam-modal v-if="isAdmin && !loading" @add-exam="addExam"
        :constants="constants" :year="year" :month="month" :day="activeDay" :type-id="selectedTypeId"
      ></new-exam-modal>
    </div>
  </div>
</body>
</html>

<script>
  Vue.component('calendar-day', {
    props: {
      day: Number,
      active: Boolean,
      disabled: Boolean,
      exams: Array,
      constants: Object,
      admin: Boolean,
      client: Boolean,
    },
    data: function() {
      return {

      }
    },
    template: `
      <div
        @click='select' :id='day'
        class='day d-flex flex-column align-items-center justify-content-start'
        :class="{
          active: active && !disabled, disabled: disabled,
          clickable: clickable, enrolled: enrolled && !disabled
        }"
      >
        <span>{{day}}</span>
        <div v-if="!disabled" class="dots d-flex">
          <div v-for="c in Object.keys(constants)" class="dot" :class="dotClass(c)"></div>
        </div>
      </div>
    `,
    methods: {
      select: function() {
        if (!this.clickable) return;
        this.$emit('select', this.day);
      },
      dotClass: function(id) {
        classStr = "exam"+Object.keys(this.constants).indexOf(id);
        e = this.exams.filter(exam => exam.type_id == id);
        if (!e.length) classStr += ' d-none';
        placesLeft = e.map(a => a.places_left).reduce((a, b) => a + b, 0);
        if (!placesLeft) classStr += ' no-places';
        return classStr;
      }
    },
    computed: {
      clickable: function() {
        return !this.disabled && this.exams.length;
      },
      enrolled: function() {
        return this.client && this.exams.filter(exam => exam.enrolled).length != 0;
      }
    }
  });

  Vue.component('calendar', {
    props: {
      year: Number,
      month: Number,
      days: Object,
      constants: Object,
      select: Function,
      admin: Boolean,
      client: Boolean,
    },
    data: function() {
      return {
        months: [
          'Январь', 'Февраль', 'Март', 'Апрель',
          'Май', 'Июнь', 'Июль', 'Август',
          'Сентябрь', 'Октябрь', 'Ноябрь', 'Декабрь',
        ]
      }
    },
    template: `
      <div class="calendar card d-flex flex-column mb-3">
        <div class="calendar-header-container mx-2 d-flex justify-content-between">
          <div class="calendar-header d-flex align-items-center">
            <h4 class="calendar-title mb-0">{{ months[month] }} {{ year }}</h4>
          </div>
          <div class="calendar-header-buttons d-flex">
            <span @click="dec" class="calendar-month-step material-symbols-outlined">arrow_left</span>
            <span @click="inc" class="calendar-month-step material-symbols-outlined">arrow_right</span>
          </div>
        </div>
        <div class="calendar-body-container">
          <div class="calendar-week d-flex">
            <div
              v-for="(d, i) in ['пн', 'вт', 'ср', 'чт', 'пт', 'сб', 'вс']"
              class='day week-day d-flex align-items-center justify-content-center'
            >
              <span>{{ d }}</span>
            </div>
          </div>
          <div class="calendar-week d-flex" v-for="(week, wi) in layout" :key="wi">
            <calendar-day v-for="(d, di) in week" :key="di"
              @select="select"
              :day="d.day" :active="d.active" :disabled="d.disabled"
              :exams="d.exams" :constants="constants" :admin="admin" :client="client"
            ></calendar-day>
          </div>
        </div>
      </div>
    `,
    methods: {
      dec: function() { this.$emit("step", -1); },
      inc: function() { this.$emit("step", 1); }
    },
    computed: {
      layout: function() {
        firstDay = new Date(this.year, this.month);
        // первый день в первой неделе текущего календаря
        currentDay = firstDay;
        currentDay.setDate(firstDay.getDate() - firstDay.getDay());
        lastDay = currentDay;
        layout = [];
        flag = true;
        while (flag) {
          week = [];
          for (i = 0; i<7; i++) {
            d = new Date(currentDay.getTime());
            dayN = d.getDate();
            day = {
              day: dayN,
              active: dayN in this.days ? this.days[dayN].active : false,
              exams: dayN in this.days ? this.days[dayN].exams : [],
              disabled: d.getMonth() !== this.month
            }
            week.push(day);
            currentDay.setDate(currentDay.getDate() + 1);
          }
          layout.push(week);
          flag = currentDay.getMonth() == this.month;
        }
        return layout;
      }
    }
  });

  Vue.component('filters', {
    props: {
      constants: Object,
      selectedTypeId: Number,
      selectedSubjects: Array
    },
    template: `
      <div class="card filters mb-3">
        <h4>Фильтры</h4>
        <div class="btn-group">
          <button @click="selectType(t[1])" type="button" v-for="t in types" :key="t[1]"
            class="btn btn-sm" :class="typeSelectorClass(t[1])"
          >
            {{ t[0] }}
          </button>
        </div>
        <div class="filter-subjects" v-if="selectedTypeId != -1">
          <div class="form-check" v-for="s in subjects" :key="s[1]">
            <input class="form-check-input" type="checkbox" :value="s[1]" :id="'subject' + s[1]"
              :checked="subjectChecked(s[1])" @click="toggleSubject(s[1])" />
            <label class="form-check-label" :for="'subject' + s[1]">
              {{s[0]}}
            </label>
          </div>
        </div>
      </div>
    `,
    methods: {
      selectType: function(typeId) {
        this.$emit("select-type", typeId);
      },
      toggleSubject: function(subjectId) {
        this.$emit("select-subject", subjectId);
      },
      subjectChecked: function(subjectId) {
        return this.selectedSubjects.indexOf(subjectId) !== -1;
      },
      typeSelectorClass: function(i) {
        return this.selectedTypeId == i ? "btn-success" : "btn-light";
      }
    },
    computed: {
      types: function() {
        return Object.keys(this.constants).map(k => [this.constants[k].title, k]);
      },
      subjects: function() {
        return Object.keys(this.constants[this.selectedTypeId].subjects).map(k => [this.constants[this.selectedTypeId].subjects[k], k])
      }
    }
  });

  Vue.component('participants-modal', {
    props: {
      constants: Object,
      exam: Object
    },
    data: function() {
      return {
        participants: []
      }
    },
    template: `
    <div class="modal fade" id="participantsModal" tabindex="-1" data-bs-backdrop="static" data-bs-keyboard="false">
      <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable modal-sm">
        <div class="modal-content" v-if="exam">
          <div class="modal-header">
            <div class="modal-title participants-modal-header">
              <span class="tag" :class="tagClass">{{ constants[exam.type_id].title }}</span>
              {{constants[exam.type_id].subjects[exam.subject_id]}}
            </div>
            <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
          </div>
          <div class="modal-body">
            <div class="mb-2">Отметить присутствующих: </div>
            <div class="participants-modal-list mx-2">
              <div class="form-check" v-for="a in exam.participants" :key="a.id">
                <input class="form-check-input" type="checkbox" :value="a.id" :id="'attendee' + a.id" v-model="participants" />
                <label class="form-check-label" :for="'attendee' + a.id">
                  {{formatPhone(a.phone)}}
                </label>
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary btn-sm" data-bs-dismiss="modal">Закрыть</button>
            <button type="button" class="btn btn-success btn-sm" data-bs-dismiss="modal" @click="save">Сохранить</button>
          </div>
        </div>
      </div>
    </div>
    `,
    methods: {
      save: function() {
        this.$emit('save', this.participantsToSave);
      },
      formatPhone: function(p) {
        p = String(p);
        return "+" + p[0] + " " + p.substr(1, 3) + " " + p.substr(4, 3) + " " + p.substr(7, 2) + " " + p.substr(9, 2);
      }
    },
    computed: {
      tagClass: function() {
        return "exam"+Object.keys(this.constants).indexOf(String(this.exam.type_id));
      },
      participantsToSave: function() {
        participants = {};
        vm = this;
        vm.exam.participants.forEach(p => {
          participants[p.id] = vm.participants.indexOf(p.id) !== -1
        });
        return participants;
      }
    },
    watch: {
      exam: function() {
        this.participants = this.exam.participants.filter(a => a.visited).map(a => a.id);
      }
    }
  });

  Vue.component('confirmation-modal', {
    props: {
      mid: String,
      title: String,
      btnClass: String,
      btnText: String,
      body: String
    },
    template: `
    <div class="modal fade" :id="mid" tabindex="-1" data-bs-backdrop="static" data-bs-keyboard="false">
      <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable modal-sm">
        <div class="modal-content">
          <div class="modal-header">
            <div class="modal-title confirmation-modal-header">
              {{ title }}
            </div>
          </div>
          <div class="modal-body" v-if="body">
            {{ body }}
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary btn-sm" data-bs-dismiss="modal">Отмена</button>
            <button type="button" class="btn btn-sm" :class="btnClass" data-bs-dismiss="modal" @click="confirm">{{ btnText }}</button>
          </div>
        </div>
      </div>
    </div>
    `,
    methods: {
      confirm: function() { this.$emit('confirmed') }
    }
  });

  Vue.component('new-exam-modal', {
    props: {
      constants: Object,
      year: Number,
      month: Number,
      day: Number,
      typeId: Number
    },
    data: function() {
      return {
        exam: {
          datetime: undefined,
          type_id: this.typeId,
          subject_id: -1,
          places: 10,
          price: undefined
        },
        datepicker: undefined
      }
    },
    template: `
    <div class="modal fade" id="newExamModal" tabindex="-1">
      <div class="modal-dialog modal-dialog-centered- modal-dialog-scrollable modal-sm">
        <div class="modal-content">
          <div class="modal-header">
            <div class="modal-title new-exam-modal-header">
              Добавить экзамен
            </div>
          </div>
          <div class="modal-body">
            <div class="mb-3">
              <!--label for="typeSelect" class="form-label">"ЕГЭ или ОГЭ"</label-->
              <select class="form-select form-select-sm" id="typeSelect" v-model="exam.type_id">
                <option value="-1">Экзамен</option>
                <template>
                  <option v-for="k in typeKeys" :key="'type' + k" :value="k">{{constants[k].title}}</option>
                </template>
              </select>
            </div>
            <div class="mb-3" v-if="exam.type_id != -1">
              <label for="subjectSelect" class="form-label">Предмет</label>
              <select class="form-select form-select-sm" id="subjectSelect" v-model="exam.subject_id">
                <option :value="-1">Предмет</option>
                <template>
                  <option v-for="s in subjectKeys" :key="'subject' + s" :value="s">{{subjects[s]}}</option>
                </template>
              </select>
            </div>
            <div class="mb-3" v-show="exam.subject_id != -1">
              <label for="places" class="form-label">Количество мест: <b>{{ exam.places }}</b></label>
              <input type="range" class="form-range" min="10" max="50" step="5" id="places" v-model="exam.places">
            </div>
            <div class="mb-3" v-show="exam.subject_id != -1">
              <label for="price" class="form-label">Цена</label>
              <div class="input-group input-group-sm">
                <input type="number" class="form-control form-control-sm" id="price" v-model="exam.price" placeholder="Цена">
                <div class="input-group-text">₽</div>
              </div>
            </div>
            <div class="mb-3" v-show="exam.subject_id != -1">
              <label for="date" class="form-label">Дата экзамена</label>
              <input type="text" id="date" class="form-control form-control-sm">
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary btn-sm" data-bs-dismiss="modal">Отмена</button>
            <button type="button" class="btn btn-sm btn-success" data-bs-dismiss="modal" :disabled="disabled" @click="add">Добавить</button>
          </div>
        </div>
      </div>
    </div>
    `,
    methods: {
      add: function() {
        this.$emit('add-exam', this.exam);
        this.exam = {
          datetime: undefined,
          type_id: -1,
          subject_id: -1,
          places: 10,
          price: undefined
        };
      },
      updateStartDate: function() {
        this.datepicker.setStartDate(this.startDate);
        this.datepicker.setEndDate(this.startDate);
        this.exam.datetime = this.datepicker.startDate.unix() * 1000;
      }
    },
    computed: {
      typeKeys: function() {
        return Object.keys(this.constants)
      },
      subjects: function() {
        return this.constants[this.exam.type_id].subjects;
      },
      subjectKeys: function() {
        return Object.keys(this.subjects);
      },
      disabled: function() {
        e = this.exam;
        return !(e.type_id !== -1 && e.subject_id != -1 && e.price && e.price > 0)
      },
      startDate: function() {
        d = moment();
        d.year(this.year);
        d.month(this.month);
        if (this.day != -1)
          d.date(this.day);
        return d;
      }
    },
    watch: {
      'exam.type_id': function() {
        this.exam.subject_id = -1
      },
      typeId: function() {
        this.exam.type_id = this.typeId;
      },
      day: function() { this.updateStartDate() },
      month: function() { this.updateStartDate() },
      year: function() { this.updateStartDate() },
    },
    mounted: function() {
      const vm = this;
      this.datepicker = $('input[id="date"]').daterangepicker({
        timePicker: true,
        timePicker24Hour: true,
        singleDatePicker: true,
        showDropdowns: false,
        timePickerIncrement: 10,
        minDate: moment(),
        drops: 'up',
        locale: {
          format: 'DD.MM.YYYY HH:mm',
          firstDay: 1
        }
      }, (start, end, label) => {
        vm.exam.datetime = start.unix() * 1000;
      }).data('daterangepicker');
      this.updateStartDate();
    }
  });

  Vue.component('exam-list-item', {
    props: {
      exam: Object,
      constants: Object,
      admin: Boolean,
      client: Boolean,
    },
    data: function() {
      return {
        months: [
          'января', 'февраля', 'марта', 'апреля',
          'май', 'июня', 'июля', 'августа',
          'сентября', 'октября', 'ноября', 'декабря',
        ]
      }
    },
    template: `
      <div class="exam-list-item">
        <div class="exam-list-item-header d-flex align-items-center justify-content-between mb-1">
          <div>
            <span class="tag" :class="tagClass">{{ constants[exam.type_id].title }}</span>
            {{constants[exam.type_id].subjects[exam.subject_id]}}
          </div>
          <span v-if="admin && exam.places == exam.places_left"
            data-bs-toggle="modal" data-bs-target="#deleteExamModal"
            class="material-symbols-outlined icon-btn"
            @click="prepareForDeletion"
          >delete</span>
        </div>
        <div class="exam-list-item-body mb-2">
          {{ d.getHours() }}:{{ String(d.getMinutes()).padStart(2, '0') }}, {{ exam.price }}₽
        </div>
        <div class="exam-list-item-footer d-flex justify-content-end">
          <div class="btn-group">
            <button type="button" v-if="exam.places_left && client && !exam.enrolled && !enrollmentClosed"
              class="btn btn-sm btn-primary" @click="enroll"
            >Записаться</button>
            <button type="button" v-else-if="exam.enrolled && client"
              class="btn btn-sm btn-danger" @click="prepareForDeletion"
              data-bs-toggle="modal" data-bs-target="#deleteExamModal"
            >Выписаться</button>
            <button type="button" v-else-if="admin && exam.places_left != exam.places"
              class="btn btn-sm btn-secondary" @click="openParticipants"
              data-bs-toggle="modal" data-bs-target="#participantsModal"
            >Участники</button>
            <button type="button" class="btn btn-sm btn-primary-outline disabled">
              {{placesCaption}}
            </button>
          </div>
        </div>
      </div>
    `,
    methods: {
      enroll: function() {
        this.$emit("enroll", this.exam.id)
      },
      openParticipants: function() {
        this.$emit("openParticipants", this.exam.id)
      },
      prepareForDeletion: function() {
        this.$emit('prepareForDeletion', this.exam.id);
      }
    },
    computed: {
      tagClass: function() {
        return "exam"+Object.keys(this.constants).indexOf(String(this.exam.type_id));
      },
      d: function() {
        // if (this.datetime === undefined)
        //   this.datetime = new Date(this.exam.datetime);
        // return this.datetime;
        return new Date(this.exam.datetime);
      },
      ending: function() {
        var n = this.exam.places_left;
        endings = ['место', 'места', 'мест'];
        n = n % 100;
        if (n >= 11 && n <= 19) return endings[2];
        else {
          i = n % 10;
          switch (i) {
            case (1): return endings[0];
            case (2):
            case (3):
            case (4): return endings[1];
            default: return endings[2];
          }
        }
      },
      enrollmentClosed: function() {
        return Math.floor((this.d - new Date()) / 86400000) < 3;
      },
      placesCaption: function() {
        if (this.admin)
          return this.exam.places - this.exam.places_left + '/' + this.exam.places + ' ' + this.ending + ' занято';
        if (this.enrollmentClosed)
          return 'запись закрыта';
        return this.exam.places_left == 0 ? "мест нет :(" : 'ещё ' + this.exam.places_left + " " + this.ending;
      }
    }
  });

  Vue.component('exam-list', {
    props: {
      day: Number,
      month: Number,
      exams: Array,
      constants: Object,
      enroll: Function,
      openParticipants: Function,
      prepareForDeletion: Function,
      admin: Boolean,
      client: Boolean,
    },
    data: function() {
      return {
        months: [
          'января', 'февраля', 'марта', 'апреля',
          'май', 'июня', 'июля', 'августа',
          'сентября', 'октября', 'ноября', 'декабря',
        ]
      }
    },
    template: `
      <div class="exam-list card">
        <div class="exam-list-header d-flex align-items-center justify-content-between">
          Экзамены
          <button v-if="admin"
            data-bs-toggle="modal" data-bs-target="#newExamModal"
            class="btn btn-sm btn-success d-flex align-items-center"
          >
            Добавить <span class="material-symbols-outlined icon-btn ms-1 mt-0">add</span>
          </button>
        </div>
        <div class="exam-list-day" :class="{'msg m-2 mt-3': day === -1}">
          <template v-if="day !== -1">
            {{ day }} {{ months[month] }}
          </template>
          <template v-else>
            Выберите день в календаре, чтобы увидеть список экзаменов
          </template>
        </div>
        <div class="exam-list-body">
          <exam-list-item
            v-for="(e, i) in exams" :key="i" :exam="e" :constants="constants"
            @enroll="enroll" @openParticipants="openParticipants" @prepareForDeletion="prepareForDeletion"
            :admin="admin" :client="client"
          ></exam-list-item>
        </div>
      </div>
    `,
    methods: {

    }
  });

  app = new Vue({
    el: "#app",
    data: {
      year: 0,
      month: 0,
      days: undefined,
      constants: undefined,
      selectedTypeId: -1,
      selectedSubjects: [],
      role: undefined,
      roles: {
        client: 0,
        admin: 1,
      },
      participantsExam: undefined,
      toDelete: -1
    },
    methods: {
      selectDay: function(dayN) {
        for (const [day, value] of Object.entries(this.days))
          this.days[day].active = day == dayN;
      },
      step: function(s) {
        m = this.month += s;
        if (m === 12) {
          this.year += 1;
          m = 0;
        }
        if (m === -1) {
          this.year -= 1;
          m = 11;
        }
        this.month = m;
        this.days = undefined;
        this.getDays();
      },
      getConstants: function() {
        const vm = this;
        vm.constants = undefined;
        axios.get('/api/constants')
          .then(response => {
            if (response.status == 200)
              vm.constants = response.data;
          })
          .catch(error => {
            vm.handleResponseError(error);
          });
      },
      getDays: function(dayN=-1) {
        const vm = this;
        vm.days = undefined;
        axios.get('/api/exams/' + this.year + '/' + this.month)
          .then(response => {
            if (response.status == 200) {
              const data = response.data;
              vm.role = data.user_role;
              days = {}
              Object.keys(data.exams).forEach(day => {
                days[day] = {
                  active: false,
                  exams: data.exams[day]
                }
              });
              vm.days = days;
              vm.selectDay(dayN);
            }
          })
          .catch(error => {
            vm.handleResponseError(error);
          });
      },
      addExam: function(exam) {
        d = new Date(e.datetime);
        vm = this;
        axios.post('/api/exam', exam)
          .then(response => {
            if (response.status == 200) {
              const data = response.data;
              console.log(data);
              if (d.getMonth() == vm.month) {
                const date = d.getDate();
                if (!(date in vm.days)) vm.$set(days, date, {active: false, exams: []})
                vm.days[date].exams.push(data);
              }
            }
          })
          .catch(error => {
            vm.handleResponseError(error);
          });
      },
      deleteExam: function() {
        const vm = this;
        axios.delete('/api/exam/' + this.toDelete)
          .then(response => {
            if (response.status == 200) {
              vm.getDays(vm.activeDay);
              this.prepareForDeletion(-1);
            }
          })
          .catch(error => {
            vm.handleResponseError(error);
          });
      },
      selectType: function(typeId) {
        if (this.selectedTypeId != typeId) {
          this.selectedTypeId = Number(typeId);
          this.selectedSubjects = [];
        }
        if (!this.activeExams.length)
          this.selectDay(-1);
      },
      selectSubject: function(subjectId) {
        if (this.selectedSubjects.indexOf(subjectId) === -1)
          this.selectedSubjects.push(subjectId);
        else
          this.selectedSubjects.splice(this.selectedSubjects.indexOf(subjectId), 1);
        if (!this.activeExams.length)
          this.selectDay(-1);
      },
      enroll: function(examId) {
        const vm = this;
        axios.post('/api/exam/' + examId)
          .then(response => {
            if (response.status == 200)
              vm.getDays(vm.activeDay);
          })
          .catch(error => {
            vm.handleResponseError(error);
          });
      },
      openParticipants: function(examId) {
        const vm = this;
        axios.get('/api/exam/' + examId)
          .then(response => {
            if (response.status == 200) {
              vm.participantsExam = response.data;
            }
          })
          .catch(error => {
            vm.handleResponseError(error);
          });
      },
      saveParticipants: function(participants) {
        const vm = this;
        axios.put('/api/exam/' + vm.participantsExam.id, {'participants': participants})
          .then(response => {
            if (response.status == 200)
              vm.getDays(vm.activeDay);
          })
          .catch(error => {
            vm.handleResponseError(error);
          });
      },
      prepareForDeletion: function(examId) {
        this.toDelete = examId;
      },
      handleResponseError: function(error) {
        console.log(error);
        if (error && error.response.data && error.response.data.error)
          alert(error.response.data.error);
        else
          alert('произошла непредвиденная ошибка');
        console.log(error.toJSON());
        console.log(error.response.data);
      }
    },
    computed: {
      loading: function() {
        return this.constants === undefined || this.days === undefined;
      },
      activeExams: function() {
        day = this.activeDay;
        if (day === -1) return []
        return this.filteredDays[day].exams;
      },
      activeDay: function() {
        for (const [key, value] of Object.entries(this.filteredDays))
          if (this.filteredDays[key].active)
            return Number(key);
        return -1;
      },
      filteredDays: function() {
        filtered = {};
        const vm = this;
        Object.keys(this.days).forEach(key => {
          day = vm.days[key];
          filtered[key] = {
            active: day.active,
            exams: day.exams.filter(
              e => e.type_id == vm.selectedTypeId &&
                (vm.selectedSubjects.indexOf(String(e.subject_id)) != -1 || !vm.selectedSubjects.length)
                || vm.selectedTypeId == -1)
          };
        });
        return filtered;
      },
      isAdmin: function() { return this.role == this.roles.admin },
      isClient: function() { return this.role == this.roles.client },
    },
    created() {
      d = new Date();
      this.year = d.getFullYear();
      this.month = d.getMonth();
      this.getConstants();
      this.getDays();
      const params = new Proxy(new URLSearchParams(window.location.search), {
        get: (searchParams, prop) => searchParams.get(prop),
      });
      if (params['role'] == 'client') this.role = this.roles.client;
    }
  });
</script>
