html {
  background-color: #3C635038;
}

body {
  background-color: transparent;
}

/* @font-face {
  font-family: 'Material Symbols Outlined';
  font-style: normal;
  font-weight: 100 700;
  src: url(google-icons.woff2) format('woff2');
} */

.material-symbols-outlined {
  font-family: 'Material Symbols Outlined';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -webkit-font-feature-settings: 'liga';
  -webkit-font-smoothing: antialiased;
}

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 500,
  'GRAD' 0,
  'opsz' 48
}

.day {
  font-size: 18px;
  cursor: default;
  padding: 5px;
  width: 46px;
  height: 51px;
  border-radius: 12px;
}

.week-day {
  font-size: 14px;
  font-weight: bold;
  color: #737373;
}

.day.disabled {
  cursor: not-allowed;
  color: #ddd;
}

.day.clickable {
  cursor: pointer;
}

.day.clickable:not(.active):hover {
  background-color: #eee;
}

.day.active {
  background: #ddd;
}

.day.enrolled {
  border: 2px solid #19e63c66;
}

/* .day.clickable.enrolled:not(.active):hover {
  background-color: #19e63c33;
}

.day.enrolled.active {
  background-color: #19e63c44;
} */

.dot {
  height: 8px;
  width: 8px;
  border-radius: 100%;
  margin: 1px;
}

.dot.exam0 {background-color: #FF9900;}
.dot.exam1 {background-color: #B468FF;}
.dot.no-places {background-color: #808080;}

.card {
  padding: 20px;
  border-radius: 10px;
  background-color: white;
  max-width: 330px;
  min-width: 250px;
}

.calendar-month-step {
  cursor: pointer;
  color: #666666;
  margin: 0 -5px;
  font-size: 34px!important;
}
.calendar-month-step:hover {color: initial;}

.exam-list-header{
  font-size: 22px;
  font-weight: bold;
}

.exam-list-day.msg {
  color: #737373;
}

.exam-list-item {
  padding: 15px 0;
  border-bottom: 1px solid #e4e4e4;
}

.exam-list-item:first-child {
  margin-top: 5px;
}

.exam-list-item:last-child {
  border-bottom: none;
  padding-bottom: 0;
}

.exam-list-item-header {
  font-size: 18px;
}

.exam-list-item-body {
  font-size: 16px;
  color: #999;
  padding-left: 5px;
}

.exam-list-body {
  margin: 0 10px;
}

.tag {
  padding: 0 5px;
  border-radius: 8px;
}

.tag.exam0 {background-color: #ff990080;}
.tag.exam1 {background-color: #b266ff80;}

.btn {
  border-radius: 8px;
}

.filters h4 {
  margin-bottom: 15px;
}

.filter-subjects {
  margin-top: 10px;
}

.attendees-modal-header {
  font-size: 18px;
}

.icon-btn {
  font-size: 20px!important;
  margin-top: 5px;
  cursor: pointer;
}

.new-exam-modal-header {
  font-size: 18px;
}

.invalid {
  color: #dc3545;
}

.edit-phone {
  font-size: 14px;
  color: #0d6efd;
  cursor: pointer;
}

.edit-phone:hover {
  color: #0a58ca;
}

.overlay {
  background-color: #3a3a3a;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  min-height: 150px;
  z-index: 1000;
  opacity: 0.8;
}
.overlay.pos-initial {
position: initial;
}

.loading-card {
  background: white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 15px;
}

.loading-card-no-bg {
  background-color: inherit;
}

.header-btn {
  text-decoration: none;
}

.header-btn:hover {
  text-decoration: underline;
}

.main-container, .side-container {
  margin: 0 10px;
}

.side-container {
  margin-right: 0;
}

.card-invisible {
  height: 0;
  padding: 0;
  margin: 0;
  margin-right: 10px;
  border: none;
}

.card-any-width {
  max-width: initial;
}

thead td {
  font-size: 18px;
  font-weight: bold;
}

.action-link {
  cursor: pointer;
  text-decoration: none;
}

.action-link-danger {
  color: #dc3545!important;
}

.action-link-danger:hover {
  color: #bb2d3b!important;
}

.table-action {
  margin-top: -3px;
  margin-bottom: -1px;
}

.register-link {
  font-size: 14px;
}

@media screen and (max-width: 950px) {

  .card-invisible { display: none }

  .side-container {
    order: 0;
    margin-right: 10px;
  }

  .main-container { order: 1 }

  #content {
    flex-direction: column;
    align-items: center;
  }

  .filters { min-width: 330px }
}
