html {
  background-color: #3C635038;
}

body {
  background-color: transparent;
}

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 500,
  'GRAD' 0,
  'opsz' 48
}

.day {
  font-size: 18px;
  cursor: default;
  padding: 5px;
  width: 46px;
  height: 51px;
  border-radius: 12px;
}

.week-day {
  font-size: 14px;
  font-weight: bold;
  color: #737373;
}

.day.disabled {
  cursor: not-allowed;
  color: #ddd;
}

.day.clickable {
  cursor: pointer;
}

.day.clickable:not(.active):hover {
  background-color: #eee;
}

.day.active {
  background: #ddd;
}

.day.enrolled {
  border: 2px solid #19e63c66;
}

/* .day.clickable.enrolled:not(.active):hover {
  background-color: #19e63c33;
}

.day.enrolled.active {
  background-color: #19e63c44;
} */

.dot {
  height: 8px;
  width: 8px;
  border-radius: 100%;
  margin: 1px;
}

.dot.exam0 {background-color: #FF9900;}
.dot.exam1 {background-color: #B468FF;}
.dot.no-places {background-color: #808080;}

.card {
  padding: 20px;
  border-radius: 10px;
  background-color: white;
}

.calendar-month-step {
  cursor: pointer;
  color: #666666;
  margin: 0 -5px;
}
.calendar-month-step:hover {color: initial;}

.exam-list-header.msg {
  color: #737373;
}

.exam-list-header:not(.msg) {
  font-size: 20px;
  font-weight: bold;
}

.exam-list-item {
  margin: 10px 0;
}

.exam-list-item:first-child {
  margin-top: 15px;
}

.exam-list-item:last-child {
  margin-bottom: 0;
}

.exam-list-item-header {
  font-size: 18px;
}

.exam-list-item-body {
  font-size: 16px;
  color: #999;
  padding-left: 5px;
}

.exam-list-body {
  margin: 0 10px;
}

.tag {
  padding: 0 5px;
  border-radius: 8px;
}

.tag.exam0 {background-color: #ff990080;}
.tag.exam1 {background-color: #b266ff80;}

.btn {
  border-radius: 8px;
}

.filters h4 {
  margin-bottom: 15px;
}

.filter-subjects {
  margin-top: 10px;
}

.attendees-modal-header {
  font-size: 18px;
}
